.container {
  min-height: 100vh;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
}

.content {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.projectsWrapper {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }
}