.container {
  background: #f3f3f3;

  > .header {
    display: flex;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 4px #999;
    background: #fff;
    padding: 0 20px;

    > a {
      font-size: 20px;
    }
  }

  > .content {
    padding: 32px;

    > h1 {
      text-align: center;
      font-size: 48px;
      font-weight: 800;
    }

    > .projectsWrapper {
      display: flex;
      justify-content: center;

      > .projects {
        margin: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        max-width: 1300px;
      }
    }
  }
}
