.container {
  padding: 8rem 2rem;

  @media (max-width: 767.98px) {
    padding: 4rem 2rem;
  }

  p {
    margin: 16px 0;
    line-height: 26px;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--light);
  }

  > .content {
    max-width: 40rem;
    margin: 0 auto;

    > header {
      display: flex;
      justify-content: space-between;

      @media (max-width: 767.98px) {
        flex-direction: column;
      }

      h1 {
        font-size: 36px;
        font-weight: 900;
      }

      .subtitle {
        margin: 4px 0 8px 0;
        font-style: italic;
        font-weight: 500;
      }

      > .links {
        display: flex;
        align-items: flex-start;
        gap: 6px;

        @media (max-width: 767.98px) {
          margin: 4px 0 10px 0;
        }
      }
    }
  }
}
